.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color:  #16192a;
    background-image: linear-gradient(to right, #010b26, #5a1c2f);

}
