/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootswatch/dist/materia/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/materia/bootswatch";

.content1 {
    margin-bottom:70px;
}

.btn-aga {
    background-color: #531b2e;
    color: white;
}

.btn-aga:hover {
    background-color: #841138;
    color: white;
}
.aga-color {
    background-color: #5a1531;
}
.theme-green .bs-datepicker-head {
    background-color: #5a1531
}

.theme-green .bs-datepicker-body table td span.selected, {
    background-color: #5a1531;
}

.theme-green .bs-datepicker-body table td.week span {
    color: #5a1531;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, 
input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus,
[type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    box-shadow: inset 0 -2px 0 #b72d58;
}
/* Material icons */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
     
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
     
    /* Support for IE. */
    font-feature-settings: 'liga';
}

   /* Règles pour la taille des icônes. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Règles pour définir différentes couleurs aux icônes. */
.material-icons.md-grey {
    color: rgb(155, 155, 155);
}
.material-icons.md-grey:hover {
    color: rgb(105, 105, 105) !important;
}
     
.material-icons.md-dark-grey {
    color: rgb(85, 85, 85);
}
.material-icons.md-dark-grey:hover {
    color: rgb(65, 65, 65) !important;
}

